* {
  margin: 0;
  padding: 0;
}

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(background.jpg);
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.flexbox {
  margin-top: 10%;
  display: -webkit-flex;
  display: flex -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.card-display {
  padding: 10% 10% 10% 10%;
  border-radius: 8px;
  word-wrap: break-word;
}

.front {
  background-color: rgba(7, 102, 120, 0.66);
}

.front:hover {
  background-color: rgba(7, 102, 120, 0.9);
}

.back {
  background-color: rgba(40, 40, 40, 0.66);
}

.back:hover {
  background-color: rgba(40, 40, 40, 0.9);
}

h1 {
  color: white;
  font-family: Raleway;
  font-size: 2em;
  text-align: center;
}

h2 {
  color: white;
  font-family: Raleway;
  font-size: 1.25em;
  text-align: center;
}

h3 {
  color: white;
  font-family: Raleway;
  font-size: 1.1em;
  text-align: center;
}

p {
  color: white;
  font-family: Raleway;
  font-size: 1em;
  text-align: center;
}