* {
  margin: 0;
  padding: 0;
}

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

#particle-canvas {
  z-index: 1001;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: inherit;
  
}

#particle-canvas > canvas {
  position: absolute !important;
  top: 0 !important;
}

.flexbox {
  position: sticky;
  z-index: 1001;
  margin-top: 0%;
  padding-top: 5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.card-display {
  padding: 5% 20% 15% 20%;
  border-radius: 5px;
  word-wrap: break-word;
}

.front {
  background-color: rgba(7, 102, 120, 0.80);
}

.front:hover {
  background-color: rgba(7, 102, 120, 0.90);
}

.back {
  background-color: rgba(40, 40, 40, 0.80);
}

.back:hover {
  background-color: rgba(40, 40, 40, 0.90);
}

h1 {
  color: #fbf1c7;
  font-family: Raleway;
  font-size: 2em;
  text-align: center;
}

h2 {
  color: #fbf1c7;
  font-family: Raleway;
  font-size: 1.25em;
  text-align: center;
}

h3 {
  color: #fbf1c7;
  font-family: Raleway;
  font-size: 1.1em;
  text-align: center;
}

p {
  color: #fbf1c7;
  font-family: Raleway;
  font-size: 1em;
  text-align: center;
}