* {
  margin: 0;
  padding: 0;
}

body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

#particle-canvas {
  z-index: 1001;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: inherit;
}

#particle-canvas > canvas {
  position: absolute !important;
  top: 0 !important;
}

.flexbox {
  position: sticky;
  z-index: 1001;
  margin-top: 0%;
  padding-top: 5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.card-display {
  padding: 5% 10% 15% 10%;
  border-radius: 5px;
  word-wrap: break-word;
}

.front {
  background-color: rgba(238, 238, 238, 0.9)
}

.front:hover {
  background-color: rgba(238, 238, 238, 1);
}

.back {
  background-color: rgba(238, 238, 238, 0.9);
}

.back:hover {
  background-color: rgba(238, 238, 238, 1);
}

h1 {
  color: #16161d;
  font-family: Raleway;
  font-size: 2.25em;
  text-align: center;
}

h2 {
  color: #16161d;
  font-family: Raleway;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  color: #16161d;
  font-family: Raleway;
  font-size: 1.25em;
  text-align: center;
}

li {
  color: #16161d;
  font-family: Raleway;
  font-size: 1.25em;
}

p {
  color: #16161d;
  font-family: Raleway;
  font-size: 1em;
  text-align: center;
}

hr {
  border-top: 1px solid #16161d;
}

a {
  color: #26619C;
}